# Python Introduction 24 Jan 2023

### Alur Pemrograman

<img src="https://i.ibb.co/0MkZvWh/logika.png" width="600" align="center">

### Interpreter or compiler

<img src="https://i.ibb.co/9VXZG2F/Python-Execution-Model.png" width="600" align="center">

<img src="https://i.ibb.co/PmKTKjX/python-compile.png" width="600" align="center">

## Short Cut Jupyter  

    While in command mode (press Esc to activate):

Enter take you into edit mode
* H show all shortcuts
* Up select cell above
* Down select cell below
* Shift + Up extend selected cells above
* Shift + Down extend selected cells below
* A insert cell above
* B insert cell below
* X cut selected cells
* C copy selected cells
* V paste cells below
* Shift + V paste cells above
* D, D (press the key twice) delete selected cells
* Z undo cell deletion
* S Save and Checkpoint
* Y change the cell type to Code
* M change the cell type to Markdown
* P open the command palette.
* Shift + Space scroll notebook up
* Space scroll notebook down
* 
While in edit mode (pressEnter to activate)
Esc take you into command mode
Tab code completion or indent
* Shift + Tab tooltip
* Ctrl + ] indent
* Ctrl + [ dedent
* Ctrl + A select all
* Ctrl + Z undo
* Ctrl + Shift + Z or Ctrl + Y redo
* Ctrl + Home go to cell start
* Ctrl + End go to cell end
* Ctrl + Left go one word left
* Ctrl + Right go one word right
* Ctrl + Shift + P open the command palette
* Down move cursor down

 ### Introduction, Data Types, and Variables

## Tipe Data Python 
- Integers 
- Floating 
- String 
- Boolean

#### Integer

In [8]:
print(1+2)
print(12222233333344444444444444444422+1)

3
12222233333344444444444444444423

In [9]:
number = 10 
print(number)
print(type(number))

10
<class 'int'>

#### floating point 
- tipe float menunjukan bilang floating point , ada digit decimal , karakter E atau e

In [10]:
fnumber = 7.5 
print(fnumber)
print(type(fnumber))

7.5
<class 'float'>

In [11]:
fnumber = .4e7 
print(fnumber)
print(type(fnumber))

4000000.0
<class 'float'>

#### String
diapit dengan tanda kutip satu atau dua

In [12]:
nama = "IKetut 1 Gunawan"
print(nama)
print(type(nama))

nama = 'IKetut 1 Gunawan'
print(nama)
print(type(nama))

IKetut 1 Gunawan
<class 'str'>
IKetut 1 Gunawan
<class 'str'>

##### Boolean

In [13]:
ok = True
print(ok)
print(type(ok))

True
<class 'bool'>

In [14]:
ok = False 
print(ok)
print(type(ok))

False
<class 'bool'>

#### Variable Assignment

In [ ]:
x = y = z = 100 
print(x)
print(x,y,z)

#### Aturan variable names 
- variable depan tidak bisa menggunakan angka 
- variable depan bisa menggunakan huruf (besar / kecil )
- variable depan menggunakan tanda / karakter garis bawah (_)

In [16]:
_ = "kosong"
print(_)

In [ ]:
_1 = 1 
print(_1)

In [17]:
nama_depan = "Iketut" 
print(nama_depan)

In [ ]:
nama_belakang = 'Gunawan'
print(nama_belakang)
print(type(nama_belakang))
1_huruf = "abcde"
print(1_huruf)

#### Standard penamaan suatu variable 
-  Snake Case  : first_name  
-  Camel Case  : jumlahAnakLakiLaki 
-  Pascal case : FistName

In [ ]:
first_name = "Iketut"
last_name = "Gunawan"
tgl_lahir = 1011989 
amountSaldo = 50000 
AmountSaldo = 10000
amount_saldo = 1000 
print(amountSaldo, AmountSaldo, amountSaldo)

#### Operator dan Expresion

##### Basic Arithmetic operation 


| Operator | Description |	Syntax |
-----------|:-----------:|--------:|
| +	       |Addition: adds two operands |	x + y |
|–	 | Subtraction: subtracts two operands |	x – y |
|*	| Multiplication: multiplies two operands |	x * y | 
|/	| Division (float): divides the first operand by the second |	x / y |
|//	| Division (floor): divides the first operand by the second |	x // y | 
|%	| Modulus: returns the remainder when first operand is divided by the second | x % y |
|**	| Power : Returns first raised to power second |	x ** y |

In [ ]:
x = 10 
y = 20 

print(x+y)
print(y-x) 
print(y/x)
print(y//x)
print(y%x)
print(y**2)
x = 3 
y = 2 
print(3 / 2) 
print(3 // 2)

In [ ]:
x = 5 
y = 4 
x = x + y 
print(x)

#### Operator Penugasan
|Operator |	Simbol |
|:--------|:-------|
| Pengisian |	= |
| Penjumlahan |	+= |
| Pengurangan |	-= |
| Perkalian |	*= |
| Pembagian |	/= |
| Sisa Bagi |	%= |
| Pemangkatan |	**= |

In [ ]:
x = 2 
y = 4 
x += y 
print(x)

x -= y 
print(x)

x *= y 
print(x)
x = 2 
y = 4 
y /=x 
print(y)
x = 2 
y = 4 
y //=x 
print(y)
x = 2 
y = 4 
y %= x 
print(y)
x = 2 
y = 4 
y **= x 
print(y)

#### Comparison Operators 

- membandingkan dua nilai 
- dengan operator relasi
  
|Operator |	Simbol |
|:--------|:-------|
|Lebih Besar|	> |
| Lebih Kecil |	< |
| Sama Dengan	| == | 
| Tidak Sama dengan |	!= |
| Lebih Besar Sama dengan |	>= |
| Lebih Kecil Sama dengan |	<= |

In [ ]:
a=10 
b=20

In [ ]:
print( a == b)

In [ ]:
print(a != b)

In [ ]:
print(a < b)

In [ ]:
print( a > b )

In [ ]:
print(b > a)

In [ ]:
print(a>=b)

In [ ]:
a = 10 
b = 10 
print (a >= b)

#### Operator Logika 
- operasi logika  ( AND , OR , NOT )

|Nama |	Simbol di Python |
|:----|:----------|
| Logika AND |	and |
| Logika OR	| or |
| Negasi/kebalikan |	not |

Contoh : "and" 

|x   and  y | result | 
|----------:|-----:|
|True and True | True |
|True and False | False |
|False and False | False   | 

Contoh : "or" 

|x   or  y | result | 
|----------:|-----:|
|True or True | True |
|True or False | True |
|False or True | True |
|False or False | False   |

In [ ]:
a = True 
b = False

In [ ]:
x = a and b 
print(x)
a = True 
b = True
x = a and b 
print(x)

##### String manipulation

In [ ]:
# operator 
s = "foo"
t = "bar"
u = 'baz'

print( s + t )
print (s + t + u)
print("Iketut"+" Gunawan")

In [ ]:
# operator * 
halo = "Hallo"
print(halo * 5) 

print("="*15)

In [ ]:
# operatorn in 
halo = 'Halo' 

print( halo in 'Halo apa kabar ?')

print( halo in 'halo apa kabar ?')

In [ ]:
# Case conversion 
s ="PytHon9"

# lower 
print(s.lower())

# upder 
print(s.upper())

# Swapcase 
print(s.swapcase())

s = "hadapi dengan senyuman"

print(s.capitalize())

print(s.title())

#### Container

<img src="images/01_container.png" width="600" align="center">

<img src="images/02_container.png" width="600" align="center">

<img src="images/03_container.png" width="600" align="center">

<img src="images/05_container.png" width="600" align="center">

#### Python List 
List adalah struktur data yang digunakan untuk menyimpan sekumpulan item dalam urutan tertentu. 
- menggunakan tanda kurung siku

Karakteristik penting dari List Python adalah sebagai berikut:

* Dapat berisi item dengan tipe data yang berbeda.
* Bersifat mutable, artinya item dalam list bisa diubah setelah list dibuat.
* Elemen Lists dapat diakses dengan indeks.
* List dapat masukan ke kedalaman yang bebas.
* List bisa berubah.
* List bersifat dinamis.

In [ ]:
names = ['budi','Joko','Jono',"Bowo"] 
print(names)
print(type(names))

In [ ]:
vara = ['budi','Joko',100,10.1]
print(vara)
print(type(vara))

In [ ]:
a = ['a1','b1','c1','d1','e1','f1']
b = ['a1','c1','b1','f1','e1','d1']
c = ['a1','b1','c1','d1','e1','f1']

print(a == b) 
print(a == c)

In [ ]:
print(a[0])

In [ ]:
print(a[5])

In [ ]:
print(a[-1])

![alt text](https://i.ibb.co/2dwyz0n/list.png "List Element")

In [ ]:
strlist = ['foo','bar','baz','qux','quux','corge']
print(strlist[5])
print(strlist[-1])

In [ ]:
print(strlist[-2])

In [ ]:
panjanglist = len(strlist)
print(panjanglist)

In [ ]:
print(strlist[panjanglist-1])

In [ ]:
print(strlist[len(strlist) - 1])

In [ ]:
print(print(strlist[6]))

![alt text](https://i.ibb.co/HBpJ63P/list2.png "List Element")

In [ ]:
strlist = ['foo','bar','baz','qux','quux','corge']

strlist[1:4]

In [ ]:
strlist[0:4]

In [ ]:
strlist[:4]

In [ ]:
strlist[1:]

In [ ]:
strlist[1] = 10
print(strlist)

In [ ]:
del strlist[3]
print(strlist)

In [ ]:
print(strlist[1:3])

In [ ]:
strlist[1:3] = [1.1,2,3,5.5,10]
print(strlist)

In [ ]:
buah = ['apel','jeruk','mangga','durian','rambutan']
print('jeruk' in buah)
print('Jeruk' in buah)

In [ ]:
buah.index('mangga')

In [ ]:
buah.index('anggur')

In [ ]:
buah.append('anggur') 
print(buah)

In [ ]:
buah.remove('mangga')
print(buah)

In [ ]:
buah_delete = buah.pop(2) # delete berdasarkan index dan mereturn value didelte
print(f"{buah_delete} telah di delte")

In [ ]:
buah.insert(2,"manggis")
print(buah)

In [ ]:
buah.sort()
print(buah)
print(type(buah))

In [ ]:
buah_sorted = sorted(buah)
print(buah_sorted)
print(type(buah_sorted))

#### Python Tuples  

Tuple adalah struktur data yang mirip dengan list tetapi bersifat immutable, artinya item di dalamnya tidak bisa diubah setelah tuple dibuat.
* Digunakan untuk menyimpan sekumpulan item dalam urutan tertentu dan memastikan data tidak diubah.
* Tuple di Python dideklarasikan menggunakan kurung biasa (). 


Kegunaan :  
- return value dari fungsi  
- key dalam Dictionary :  location[(68.00,-67.00)] = "Tangerang"
- Overhead Memori (lebih sedikit memori dibandingkan list) 
- penggunaan Zip 
    ``` 
        names = ["Iwan", "Budi", "Wati"] 
        scores = [85, 90, 78]
        for name, score in zip(names, scores):
            print(f"{name} scored {score}") 
    ```
- penggunaan enumerate 
    ``` 
        for index, name in enumerate(names):
            print(f"Index {index}: {name}")
    ```

In [ ]:
buaht = ('anggur', 'apel', 'durian', 'jeruk', 'manggis', 'rambutan')
print(buaht)
print(type(buaht))

In [ ]:
print(buaht[-1])

In [ ]:
buaht[0] = 'semanggka'
print(buaht)

In [ ]:
(x1, x2,x3) = ('satu','dua','tiga')
print(x1,x2,x3)

In [ ]:
(x1, x2) = ('satu','dua','tiga')

In [ ]:
countdown = 1,2,3, "RUN!!!!"
print(countdown)
print(type(countdown))

In [ ]:
single = (1,)
print(single)

In [ ]:
# list of tupple 
point = [(4,3),(5,2),(7,7),(9,9)]

for p in point:
    print(f" x : {p[0]}, {p[1]} ")

### Python Dictorynary 
-  {} 
-  isi  bisa berupa list 
-  isi bisa berupa object  
-  bisa berubah dan dinamis 
-  Key dan Value ( dapat diakses menggunakan key)
-  Key string 
-  key dan value di pisahkan menggunakan titik dua ':'

<img src="https://i.ibb.co/zRsctx8/mlb.png" width="400" align="center">

In [ ]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [ ]:
print(MLB_team['Boston'])

In [ ]:
print(MLB_team['Boston '])

In [ ]:
MLB_team['Boston'] = 'Satria Muda'

In [ ]:
print(MLB_team)

In [ ]:
del(MLB_team['Boston'])
print(MLB_team)

In [ ]:
salaries = {
    "Budi":1000, "Wati":50000, "Iwan":3000
}
print(salaries)
data_element = salaries.pop('Wati')
print(data_element)
print(salaries)

In [ ]:
person = {} 
type(person)

In [ ]:
person['fname'] = "IKetut"
person["lname"] = 'Gunawan' 
person['age']=45 
person["children"] =['Yusuf','Sulaiman','Ibrahim','Fatimah']
person['pets'] = [{'keysArr': ['ath', 'atl', 'circulatingSupply'],'Dog':'Jumba'}]
person["skill"] = {"programming":['Java','Golang','Python','Solidity'],
                   "database":{"nosql":['MonggoDb','Neo4J'],"rdbms":['Mysql','PostgreSQL','Oracle']}}

In [ ]:
print(person)

In [ ]:
import json 
print(json.dumps(person, sort_keys=False, indent=4))

## Set

In [ ]:
vara = set("Haloapakabar")
print(vara)
print(type(vara))

In [ ]:
set((0,4,3,1,2,1))

In [ ]:
set([1,3,5,3])

In [ ]:
set([1,3,"a",4,5,"b","A",True,7.4])

In [ ]:
beatles = {"John","Paul","Ringo","Gorge"}
print(type(beatles))
print(beatles)
beatles.remove("Paul")
print(beatles)
beatles.add("Ketut")
print(beatles)

In [ ]:
beatles.add("Ringo") ## can't duplicate this
print(beatles)

In [ ]:
team1 = {"Joko","Jono","Suparman","Supardi"} 
team2 = {"Made","Ucok","Supardi","Joni"}

new_team = team1 | team2 # union 
print(new_team)

In [ ]:
word1 = {"W","I","N","T","E","R"}
word2 = {"S","N","O","W"}
print(word1 & word2)

In [ ]:
huruf1 = {"A","C","I"}
huruf2 = {"A","I","B","X"} 
new_huruf = huruf2 - huruf1 
print(new_huruf)